/*DOCUMENTO*/
* { margin: 0px; 
    padding: 0px;}

body {background-color: aliceblue;}



h1, h2, h3 { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
             color: brown;
             }

h1 { text-align: center; 
     margin-top: 40px;
     margin-bottom: 50px;}

h3 { margin-top: 20px; 
     margin-bottom: 5px;}



p, li { font-family: Arial, Helvetica, sans-serif; 
        line-height: 1.5em;
        margin-bottom: 5px;
        }

.ingredientes { line-height: 1em; 
          margin-bottom: 2px;}

.ingredientes { padding: 20px;
          display: flex; 
          flex-direction: row;
          width: 70%;
          margin: 0 auto;
          margin-bottom: 20px;
          margin-top: 20px;
          }

.ingredientes { padding: 20px;
                display: flex;
                flex-direction: row; 
                margin-bottom: 50px;
                margin-top: 30px;}

.preparacion {  margin-left: 20%;
               margin-right: 20%;
               text-align: justify; }

.ingredientes .item { margin-right: 0px;
                      margin-left: 45px; 
                      }

.imagen { 
          display: flex;
          flex-direction: row;
          margin-left: 20%;
          margin-bottom: 50px;
          padding: 30px;
          } 

footer { text-align: center;
         
               color: aliceblue;
               background-color: brown;
              padding: 20px; }

