/*DOCUMENTO*/

* { margin: 0px; 
    padding: 0px;}

body { background-color: azure; }

h1 { text-align: center;
     margin-top: 100px; }

.redes { display: flex;
         width: 180px;
         margin: 20px auto; 
         }

.items { width: 33.33%;
         color: rgb(0, 0, 0);
         font-size: 2em;
         text-align: center;
          }

.ins:active, .ins:hover { color: rgb(242, 121, 186); }
.twi:active, .twi:hover { color: rgb(170, 6, 170); }
.spo:active, .spo:hover { color: rgb(13, 184, 13); }

/*MEDIA QUERIES*/
@media only screen and (min-width:600px) {

     body { background: rgb(212, 255, 255); }
     .items { color: rgb(49, 49, 113); }
}

@media only screen and (min-width:780px) {

    body { background: rgb(255, 212, 238); }
    .items { color: rgb(113, 49, 97); }
}

@media only screen and (min-width:992px) {

    body { background: rgb(212, 255, 225); }
    .items { color: rgb(49, 113, 69); }
}

