/*DOCUMENTO CSS*/

*{ margin: 0px;
    padding: 0px;} 

div {box-sizing: border-box;}

body { background-color: rgb(244, 214, 252);
       }

h1 { text-align: center;
    padding: 20px;
    color:whitesmoke;
    }

.cabecera { height: 80px;
    padding: 5px 5px;
    background-color: rgb(174, 244, 220);}

.tablas { margin: 15px;
          color: purple;}

.tablas table { margin: auto; }

.videos { width: 500px;
          background-color: beige;
          margin: 20px auto 20px auto;
          padding: 15px;
          display: flex; }

.insertar { width: 50%;
            background-color: rgb(250, 236, 239); }

.insertar video { width: 100%; 
                  margin: auto;
                  margin-top: 70px;
                  margin-bottom: 20px;}

.incrustar { width: 50%; 
             background-color: rgb(250, 236, 239) }

.incrustar iframe { width: 100%; 
                    margin: auto;
                    margin-top: 70px;
                    margin-bottom: 20px;
                    }





